@mixin font-apple {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@mixin align-itens-center {
  display: flex;
  align-items: center;
}

.page-home {
  background-color: #eff3f8;
  .main {
    max-width: 1160px;
    margin: 0 auto;

    display: flex;
    gap: 16px;
    margin-top: 18px;

    .noticias {
      width: 100%;
      max-width: 675px;
      box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
      border-radius: 5px;
      background-color: white;

      .noticias-recentes {
        h2 {
          font-size: 0.75rem;
          text-transform: uppercase;
          font-weight: 500;
          padding: 16px;
          border-bottom: 1px solid #e0e0e0;
          @include font-apple();
        }
      }

      .cards-noticias {
        padding: 16px;
        display: flex;
        flex-direction: column;

        .card {
          border-radius: 5px;
          overflow: hidden !important;
          display: flex;
          margin-bottom: 16px;
          box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);

          .image {
            width: 200px;
            height: 200px;
          }

          .texts {
            padding: 8px 16px 8px 16px;

            h5 {
              font-size: 1rem;
              font-weight: 500;
              margin-bottom: 10px;
              @include font-apple();
            }

            > p {
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.5;
              opacity: 1;
              margin-bottom: 16px;
              @include font-apple();
            }

            > small {
              font-weight: 700;
              font-size: 0.9rem;
              @include font-apple();
            }

            > div {
              margin-top: 12px;
              display: flex;
              justify-content: space-between;

              small {
                font-size: 0.8125rem;
                opacity: 0.7;
              }
              span {
                @include align-itens-center();
                @include font-apple();

                small {
                  font-size: 0.8rem;
                  opacity: 0.9;
                  padding: 0 6px 0 4px;
                }

                i {
                    opacity: .6;
                }

                .heart {
                  color: red;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .aside {
      background-color: green;
      width: 100%;
      max-width: 450px;
    }
  }
}
